<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
      <button ion-button icon-end style="position: absolute; right: 1%;" (click)="logout()">
        Logout
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="action?.email">
    <ion-item>
        <h2>Name : {{action.name}}</h2>
        <h2>Email : {{action.email}}</h2>
        <h2>Source: {{action.source}}</h2>
        <h2>Issues Created : {{action.actions_count?.issue_created}}</h2>
        <h2>Issues Updated : {{action.actions_count?.issue_updated}}</h2>
        <h2>Total Points : {{action.actions_count?.total_count}}</h2>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!action?.email">
    <ion-item>
        <h2>You have not done any actions in JIRA or Login email and JIRA email are not in sync</h2>
    </ion-item>
  </ion-list>
</ion-content>